@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background: url(images/j.gif) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
}

h1 {
    font-size: calc(16px + 1.5vw);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

.back-link {
    margin-right: 10px;
}

/* Adjustments for the blog post content */
.blog-post {
    background-color: #fff;
    margin: 20px auto; /* Center-align and add margin for spacing */
    padding: 20px; /* Increase padding for spacing */
    max-width: 600px; /* Set a maximum width for the blog post */
    display: flex; /* Use flexbox for vertical centering */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
    min-height: 300px; /* Set a minimum height for the blog post */
}

/* Style paragraphs within the blog post */
.blog-post p {
    margin: 0; /* Remove paragraph margins */
    padding: 0; /* Remove paragraph padding */
    font-size: 18px; /* Increase font size for readability */
    line-height: 1.4; /* Increase line height for better spacing */
}
.layer {
    background-color: rgba(44, 44, 44, 0.7);
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    margin: 0;
    position: absolute;
}
